* {
    font-family: poppins;
    font-weight: 400;
}
html{
    min-height: 200vh;
}
body {
     background-image: linear-gradient(180deg, #edebe9, #d8c7b8);
     
}

.cabecalho {
    background-color: #bdbcb54d;
    padding-bottom: 1rem;
    display: flex;
}

.seta {
    font-size: 4rem;
    margin-left: 0rem;
    display: flex;
    font-weight: bold;
    color: rgb(156, 150, 144);
    margin-left: 1rem;
    
}


.name {
    font-weight: 800;
    font-size: 7rem;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    line-height: 0.6rem;
    text-transform: uppercase;
    margin-left: 2rem;
}

.sobrenome {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.imagem {
    width: 17rem;
    border-radius: 130px;
    margin-top: 5rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-bottom: 5rem;

}

.imagem:hover{
    opacity: 50%;
}

.imagem:hover{
    opacity: 80%;
}

.head-1 {
    display: flex;
    margin: 5rem 1rem 0rem 5rem;
    
}

.nomes {
    margin-top: 10rem;

}

.linha {
    background-color: black;
    width: 20%;
    height: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container-linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
  display: flex;
  width: 3rem;
  height: 3rem;
  
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    
}

.imagens {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    opacity: 60%;
}

.imagens img{
    padding: 1rem;
    
}

.imagem2{
    border-radius: 130px;
    margin-top: 10rem;
    cursor: pointer;
    margin-left: 1rem;
    background-color: rgb(183, 172, 142);
    width: 230px;
    height: 320px;
}

.meme1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    min-height: auto;
}

.sobre-mim {
    display: flex;
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 1rem;
}

.subtitulos {
    font-weight: bold;
    font-size: 3rem;
    margin-left: 5rem;
}

.imagem3{
    border-radius: 162px;
    width: 22rem;
    height: 26rem;
    margin-bottom: 4rem;
    margin-right: 3rem;
}

.hab {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3rem;
    list-style-type: none;
    margin-left: 3rem;
    margin-right: 3rem;
}

.hab li {
    font-size: 2rem;
}

.tabela {
    column-count: 1;
    column-gap: 9px;
    text-align: right;
}

.skills {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: end;
}

.projeto {
    margin-top: 6rem;
    text-align: center;
}

.paginas-projeto {
    margin-top: 3rem;
    display: flex;
}

.projetos {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buser {
    width: 20rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.enzo {
    width: 20rem;
}

.music{
    width: 28.5rem;
    margin-bottom: 2rem;
}

.qr-code {
    width: 28.5rem;
}

